<h1>Editing Dday</h1>

<%= render 'form', dday: @dday, url: edit_dday_path(@dday.id)  %>

<%
=begin%>
 <%= render 'form', model: [@event, @dday] %> 
<%
=end%>

<%= link_to 'Back', event_path(id: @event_id) %>
