<h1 class="display">開催日時作成</h1>

<%= render 'form', dday: @dday  %>

<%
=begin%>
 <%= render 'form', dday: @dday, url: new_event_dday_path(@event.id)  %> 
<%
=end%>

<%= link_to 'Back', event_path(id: @event.id) %>
